{#
/**
 * @file
 * Default theme implementation for comments.
 *
 * Available variables:
 * - author: Comment author. Can be a link or plain text.
 * - content: An array of comment items. Use render(content) to print them
 *   all, or print a subset such as render(content.field_example). Use
 *   hide(content.field_example) to temporarily suppress the printing of a
 *   given element.
 * - created: Formatted date and time for when the comment was created.
 *   Preprocess functions can reformat it by calling format_date() with the
 *   desired parameters on the comment->created variable.
 * - changed: Formatted date and time for when the comment was last changed.
 *   Preprocess functions can reformat it by calling format_date() with the
 *   desired parameters on the comment->changed variable.
 * - new: New comment marker.
 * - permalink: Comment permalink.
 * - submitted: Submission information created from author and created
 *   during template_preprocess_comment().
 * - picture: Authors picture.
 * - signature: Authors signature.
 * - status: Comment status. Possible values are:
 *   unpublished, published, or preview.
 * - title: Linked title.
 * - classes: String of classes that can be used to style contextually through
 *   CSS. It can be manipulated through the variable classes_array from
 *   preprocess functions. The default values can be one or more of the
 *   following:
 *   - comment: The current template type; e.g., 'theming hook'.
 *   - by-anonymous: Comment by an unregistered user.
 *   - by-node-author: Comment by the author of the parent node.
 *   - preview: When previewing a new or edited comment.
 *   The following applies only to viewers who are registered users:
 *   - unpublished: An unpublished comment visible only to administrators.
 *   - by-viewer: Comment by the user currently viewing the page.
 *   - new: New comment since the last visit.
 * - title_prefix (array): An array containing additional output populated by
 *   modules, intended to be displayed in front of the main title tag that
 *   appears in the template.
 * - title_suffix (array): An array containing additional output populated by
 *   modules, intended to be displayed after the main title tag that appears in
 *   the template.
 *
 * These two variables are provided for context:
 * - comment: Full comment object.
 * - node: Node entity the comments are attached to.
 *
 * @see template_preprocess()
 * @see template_preprocess_comment()
 *
 * @ingroup themeable
 */
#}
<article class="{{ attributes.class }} clearfix" {{ attributes }}>
  {{ render(title_prefix) }}
  {% if new %}
    <mark class="new">{{ new }}</mark>
  {% endif %}
  <h3 {{ title_attributes }}>{{ title }}</h3>
  {{ render(title_suffix) }}

  <footer>
    {{ user_picture }}
    <p class="submitted">by {{ author }} on {{ created }}</p>
    {{ permalink }}
  </footer>

  <div class="{{ attributes.class }}" {{ attributes }}>
    {# We hide the links now so that we can render them later. #}
    {# @TODO uncomment this when http://drupal.org/node/1753676 is resolved
    {% hide(content.links) %} #}
    {{ render(content) }}

    {% if signature %}
    <div class="user-signature">
      {{ signature }}
    </div>
    {% endif %}
  </div>
  {{ render(content.links) }}
</article>