{#
/**
 * @file
 * Provides an HTML container for comments.
 *
 * Available variables:
 * - content: The array of content-related elements for the node. Use
 *   render($content) to print them all, or
 * print a subset such as render($content['comment_form']).
 * - attributes: Remaining HTML attributes for the containing element.
 * It includes the 'class' information, which includes:
 * - comment-wrapper: The current template type, i.e., "theming hook".
 * - title_prefix (array): An array containing additional output populated by
 * modules, intended to be displayed in front of the main title tag that
 * appears in the template.
 * - title_suffix (array): An array containing additional output populated by
 * modules, intended to be displayed after the main title tag that appears in
 * the template.
 *
 * The following variables are provided for contextual information.
 * - $node: Node entity the comments are attached to.
 * The constants below the variables show the possible values and should be
 * used for comparison.
 * - $display_mode
 * - COMMENT_MODE_FLAT
 * - COMMENT_MODE_THREADED
 *
 * @see template_preprocess_comment_wrapper()
 * @see theme_comment_wrapper()
 */
#}
<section id="comments" class="{{ attributes.class }}" {{- attributes }}>

  {# TODO form module should extend comment template to keep the code in here clean #}
  {% if comments %}
    {% if node.type != 'forum' %}
      {{ title.prefix }}
      <h2 class="title">{{ 'Comments'|t }}</h2>
      {{ title.suffix }}
    {% endif %}
  {% endif %}

  {{ comments }}

  {% if form %}
    <h2 class="title comment-form">{{ 'Add new comment'|t }}</h2>
    {{ form }}
  {% endif %}

</section>
