{#
/**
 * @file
 * Default theme implementation to display the poll results in a block.
 * 
 * Available variables:
 * - block: True if poll is in a block.
 * - title: The title of the block.
 * - results: Lists the poll results.
 * - cancel_form: Cancel button.
 * - link: Administrative links.
 * 
 * @ingroup themeable
 */
#}
<div class="poll">
  {% if block %}
    <h3>{{ title }}</h3>
  {% endif %}
  {{ results }}
  <div>{% "Total votes:"|t %}{{ total_votes }}</div>
  {% if cancel_form %}
    {{ cancel_form }}
  {% endif %}
  {% if block %}
    <div class="links">{{ links }}</div>
  {% endif %}
</div>