{#
/**
 * Returns HTML for a date selection form element.
 *
 * Available variables
 * - element: The properties of the element. Properties used:
 *   #title, #value, #options, #description, #required, #attributes.
 *
 * @ingroup themeable
 */
#}
<div class="{{ attributes.class }}" {{ attributes }}>{{ element }}</div>
