{#
/**
 * Returns HTML for a form element.
 *
 * Available variables
 * - element: An associative array containing the properties of the element.
 *   Properties used: #title, #title_display, #description, #id, #required,
 *   #children, #type, #name.
 * - attributes: 
 * - label_display: 
 * - label: 
 * - prefix:
 * - suffix:
 * - description: 
 * - element: 
 *
 * @see template_preprocess
 * @see template_preprocess_form_element
 *
 * @ingroup themeable
 */
#}
<div class="{{ attributes.class }}" {{ attributes }}>
  {% if label_display == 'before' or label_display =='invisible' %}
    {{ label }}
  {% endif %}
  <span class="field-prefix">{{ prefix }}</span> {{ children }} <span class="field-suffix">{{ suffix }}</span>
  {% if label_display == 'after' %}
    {{ label }}
  {% endif %}
  {% if description %}
    <div {{ description.attributes }}>{{ description }}</div>
  {% endif %}
</div>
