{#
/*
 * Returns the html for an input field
 * This covers input types:
 * - radio
 * - checkbox
 * - button
 * - image_button
 * - hidden
 * - textfield
 * - tel
 * - number
 * - range
 * - password
 * - file
 *
 * @param attributes
 *   - class: the classes to apply to the element
 *
 */
#}

<input class="{{ attributes.class }}" {{ attributes }} />