{#
/**
 *
 * @file
 *  Returns HTML for an image field formatter.
 *
 *  Available variables:
 *  - item: An array of image data.
 *  - style: An optional image style.
 *  - path: An optional array containing the link 'path' and link 'options'.
 *
 * @see template_preprocess()
 * @see template_preprocess_image_formatter()
 *
 *  @TODO
 *  - Make twig able to find templates as per http://drupal.org/node/1777532
 *
 *  @ingroup themeable
 */
#}
<figure class="{{ item.attributes.class }}" {{ item.attributes }}>
  {% if style %}
    {% include 'core/themes/stark/templates/image/image_style.twig' with {image: item.image } %}
  {% else %}
    {% include 'core/themes/stark/templates/theme.inc/image.twig' %}
  {% endif %}
  {% if item.caption %}
    <figcaption>
      {{ item.caption }}
    </figcaption>
  {% endif %}
</figure>