{#
/**
 *
 * @file
 *  Returns HTML for an image using a specific image style.
 *
 *  Available variables:
 *  - style: The name of the style to be used to alter the original image.
 *  - width: The width of the source image (if known).
 *  - height: The height of the source image (if known).
 *  - alt: The alternative text for text-based browsers.
 *  - title: The title text is displayed when the image is hovered in some
 *    popular browsers.
 *  - uri: The path of the image file relative to the Drupal files directory.
 *    This function does not work with images outside the files directory
 *    nor with remotely hosted images. This should be in a format such as
 *    'images/image.jpg', or using a stream wrapper such as
 *    'public://images/image.jpg'.
 *  - attributes: Associative array of attributes to be placed in the img tag.
 *
 * @see template_preprocess()
 * @see template_preprocess_image_style()
 *
 *  @TODO
 *  - Preprocess function
 *  - rename style_name to just style
 *
 *  @ingroup themeable
 */
#}
{%include image  %}
{# Pass straight through to image template #}

