{#
/**
 * Returns HTML for guidelines for a text format.
 *
 * Available variables
 * - format: An object representing a text format.
 * - attributes: Remaining HTML attributes for the containing element.
 * - tips: Descriptions and a CSS id in the form of 'module-name/filter-id'
 *   (only used when $long is TRUE) for each filter in one or more text
 *   formats.
 *
 * @ingroup themeable
 */
 @TODO - update this include path once http://drupal.org/node/1777532 is resolved.
 #}
<div class="{{ attributes.class }}" {{ attributes }}>
  <h3>{{ format.name }}</h3>
  {% include '/core/themes/stark/templates/filter/filter-tips.twig' %}
</div>
