{#
/**
 * Returns HTML for a set of filter tips.
 *
 * Available variables
 * - tips: Descriptions and a CSS id in the form of 'module-name/filter-id'
 *   (only used when $long is TRUE) for each filter in one or more text
 *   formats.
 * - long: (optional) Whether the passed-in filter tips contain extended
 *   explanations, i.e. intended to be output on the path 'filter/tips'
 *   (TRUE), or are in a short format, i.e. suitable to be displayed below a
 *   form element. Defaults to FALSE.
 *
 * @see _filter_tips()
 *
 * @ingroup themeable
 */
 @TODO update this craziness once http://drupal.org/node/1778624 gets resolved.
#}

{{ tips }}

{% if multiple %}
  <h2>{{ 'Text Formats'|t }}</h2>
{% endif %}

{% if count(tips) %}
  {% if multiple %}
    <div class="compose-tips">
  {% endif %}

  {% for name, tiplist in tips %}
    {% if multiple %}
     <div class="filter-type filter-{{ name }}">
      <h3>{{ name }}</h3>
    {% endif %}

    {% if count(tiplist) > 0 %}
      <ul class="tips">
      {% for tip in tiplist %}
        {# Only set the class if the type is long #}
        <li class="{{ long ? "filter-#" + tip.id : "" }}">{{ tip.tip }}</li>
      {% endfor %}
      </ul>
    {% endif %}

    {% if multiple %}
      </div>
    {% endif %}
  {% endfor %}
  
  {% if multiple %}
    </div>
  {% endif %}
{% endif %}