{#
/**
 * @file
 * Default theme implementation to display a title.
 *
 * Available variables:
 * - title: The title being printed in this template.
 * - element: The HTML element used to identify the title.
 * - attributes: Remaining HTML attributes for the containing element.
 * - attributes.id: A valid HTML ID and guaranteed unique.
 * - attributes.class: Classes that can be used to style contextually through 
 *   CSS. These can be manipulated through from preprocess functions.
 *   The default values can be one or more of the following:
 *     @TODO
 * - title.prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title.suffix: Additional output populated by modules, intended to be 
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess()
 * @see template_preprocess_title()
 */
#}
{{ title.prefix }}
  {% if title %}
    <h2 {{ title.attributes }}>{{ title }}</h2>
  {% endif %}
{{ title.suffix }}