{% if menu_level = 1 %}
<nav class="menu menu-{{ menu-name}}">
{% endif %}
<ul class="level-{{ menu_level }}">
  {% for item in items %}
    <li>
    {% if item.link.active_trail %}
      <strong>{{ item.link.content }}</strong>
    {% else %}
      {{ item.link }}
    {% endif %}

    {{ item.children }}
    </li>
  {% endfor %}
</ul>
{% if menu_level = 1 %}
</nav>
{% endif %}

