{#
/**
 * Returns HTML for a wrapper for a menu sub-tree.
 *
 * Available variables:
 * - tree: An HTML string containing the tree's items.
 *
 * @see template_preprocess_menu_tree()
 * @ingroup themeable
 */
#}
<ul class="menu clearfix">{{ tree }}</ul>