{#
/**
 * @file
 * Default theme implementation to display a container.
 *
 * Available variables:
 * - title: Block title.
 * - contents: The contents of this block.
 * - attributes: Remaining HTML attributes for the containing element.
 * - attributes.id: A valid HTML ID and guaranteed unique.
 * - attributes.class: Classes that can be used to style contextually through
 *   CSS. These can be manipulated through from preprocess functions. The
 *   default values can be one or more of the following:
 *   - block: The current template type, i.e., "theming hook".
 *   - block-[module]: The module generating the block. For example, the user
 *     module is responsible for handling the default user navigation block. In
 *     that case the class would be 'block-user'.
 * - block.module: Module that generated the block.
 * - block.delta: An ID for the block, unique within each module.
 * - block.region: The block region embedding the current block.
 * 
 * Helper variables:
 * - block_id: Counter dependent on each block region.
 * - id: Same output as $block_id but independent of any block region.
 * - is_front: Flags true when presented in the front page.
 * - logged_in: Flags true when the current user is a logged-in member.
 * - is_admin: Flags true when the current user is an administrator.
 *
 * @see template_preprocess()
 * @see template_preprocess_container()
 *
 * @ingroup themeable
 */
 
 @TODO - update this include path once http://drupal.org/node/1777532 is resolved.
#}
<div {{ attributes }}>
  {% include 'core/themes/stark/templates/title.twig' %}

  {{ content }}
</div>
