{#
/**
 * @file
 * Returns HTML for a list of available node types for node creation.
 *
 * Available variables:
 * - types: list of content types
 * - no_content_text: Text displaying when no content types are avalieble.
 *
 * @ingroup themeable
 */
#}
{% if content %}
  <ul class="admin-list">
    {% for type in types %}
      <li>
        <span class="content-type-{{ type.type }} label">{{ type.add_link }}</a></span>
        <div>{{ type.description }}</div>
      </li>
    {% endfor %}
  </ul> 
{% else %}
  <p>
    {{ no_content_text }}
  </p>
{% endif %}
