{#
/**
 * @file
 * Returns HTML for a node preview for display during node creation and editing.
 * 
 * Available variables:
 * - preview: Preview version of the node.
 * - full: Full version of the node.
 * 
 * @ingroup themeable
 */
#}
<div class="node-preview-container">
  {% if preview %}
    <h3>{{ "Preview trimmed version"|t }}</h3>
    {{ preview }}
    <h3>{{ "Preview full version"|t }}</h3>
    {{ full }}
  {% else %}
    {{ full }}
  {% endif %}
</div>