{#
/**
 * @file
 * Returns HTML for a breadcrumb trail.
 *
 * @param $variables
 *   An associative array containing:
 *   - breadcrumb: An array containing the breadcrumb links.
 *
 * @ingroup themeable
 */
#}

{% if breadcrumb %}
  <nav role="navigation" class="breadcrumb">
    {# Provide a navigational heading to give context for breadcrumb links to #}
    {# screen-reader users. Make the heading invisible with .element-invisible. #}
    <h2 class="element-invisible">{{ 'You are here'|t }}</h2>
    <ol><li>{{ breadcrumb|join(' » </li><li>') }}</li></ol>
  </nav>
{% endif %}
