{#
/**
 * Returns HTML for a feed icon.
 *
 * @param $variables
 *   An associative array containing:
 *   - url: An internal system path or a fully qualified external URL of the
 *     feed.
 *   - title: A descriptive title of the feed.
 *   - feed_subscription_text - 'Subscribe to !feed-title'
 */
#}
{# @todo: remove hardcoded image and use image.twig #}
{% set icon = '<img src="core/misc/feed.png" />' %}
{# @todo: remove hardcoded feed_subscription_text #}
{% set feed_subscription_text = 'Subscribe to '|t ~ title %}
<a href="{{ url }}" class="feed-icon" title="{{ feed_subscription_text }}">{{ icon }}</a>

