{#
/**
 * @file
 * Returns HTML for an image.
 *
 * Available variables:
 * - uri: Either the path of the image file (relative to base_path()) or a
 *   full URL.
 * - width: The width of the image (if known).
 * - height: The height of the image (if known).
 * - alt: The alternative text for text-based browsers. HTML 4 and XHTML 1.0
 *   always require an alt attribute. The HTML 5 draft allows the alt 
 *   attribute to be omitted in some cases. Therefore, this variable defaults
 *   to an empty string, but can be set to NULL for the attribute to be
 *   omitted. Usually, neither omission nor an empty string satisfies 
 *   accessibility requirements, so it is strongly encouraged for code
 *   calling theme('image') to pass a meaningful value for this variable.
 *     http://www.w3.org/TR/REC-html40/struct/objects.html#h-13.8
 *     http://www.w3.org/TR/xhtml1/dtds.html
 *     http://dev.w3.org/html5/spec/Overview.html#alt
 * title: The title text is displayed when the image is hovered in some popular browsers.
 * attributes: Associative array of attributes to be placed in the img tag.
 *
 *
 * @see template_preprocess()
 * @see template_preprocess_image()
 *
 *  @TODO
 *  - Rename variables to be consistent with image_style and image_formatter.
 *  - Fix width, height, alt and title to be Attributes. 
 *
 *  @ingroup themeable
 */
#}
<img class="{{ attributes.class }}" {{ attributes }} />
