{#
/**
 * Returns HTML for an indentation div; used for drag and drop tables.
 *
 * @param size
 *  Optional. The number of indentations to create.
 */
#}
{% for i in 0..size %}<div class="indentation">&nbsp;</div>{% endfor %}
