{#
/**
 * @file
 * Default theme implementation to display a link.
 *
 * Available variables:
 * - text: The link text for the anchor tag.
 * - path: The internal path or external URL being linked to, such as
 *   "node/34" or "http://example.com/foo".
 * - attributes: Remaining HTML attributes for the containing element.
 * - options: Additional options, with the following elements:
 *   - options.attributes: An associative array of HTML attributes to apply
 *     to the anchor tag. If element 'class' is included, it must be an
 *     array; 'title' must be a string; other elements are more flexible,
 *     as they just need to work in a call to
 *     drupal_attributes($options['attributes']).
 *   - options.html (default FALSE): Whether $text is HTML or just plain-text.
 *     For example, to make an image tag into a link, this must be set to
 *     TRUE, or you will see the escaped HTML image tag. $text is not
 *     sanitized if 'html' is TRUE. The calling function must ensure that
 *     $text is already safe.
 *   - options.language: An optional language object. If the path being
 *     linked to is internal to the site, $options['language'] is used to
 *     determine whether the link is "active", or pointing to the current
 *     page (the language as well as the path must match). This element is
 *     also used by url().
 *   - Additional options elements used by the url() function.
 *
 * @see template_preprocess
 * @see template_preprocess_link
 *
 * @ingroup themeable
 */
 @TODO remove URL from this file once http://drupal.org/node/1778610 is resolved
#}
<a href="{{ url(path, options) }}" class="{{ attributes.class }}" {{ attributes }}>{{ text }}</a>
