{#
/**
 * @file
 * Returns HTML for a marker for new or updated content.
 *
 * Available variables:
 * - type: Number representing the marker type to display. See MARK_NEW,
 *    MARK_UPDATED, MARK_READ.
 *
 * @see template_preprocess()
 * @see template_preprocess_image_formatter()
 *
 *  @ingroup themeable
 */
#}
{% if logged_in %}
  {% if type == MARK_NEW %}
    <span class="marker">{{ 'new'|t }}</span>
  {% elseif type == MARK_UPDATED %}
    <span class="marker">{{ 'updated'|t }}</span>
  {% endif %}
{% endif %}

