{#
/**
 * Returns HTML for a "more" link, like those used in blocks.
 *
 * @param $variables
 *   An associative array containing:
 *   - url: The url of the main page.
 *   - title: A descriptive verb for the link, like 'Read more'.
 */
#}
<div class="more-link">
  <a href="{{ url }}" title="{{ title }}">{{ 'More' | t }}</a>
</div>