{#
/**
 * Returns HTML for a progress bar.
 *
 * Note that the core Batch API uses this only for non-JavaScript batch jobs.
 *
 * @param $variables
 *   An associative array containing:
 *   - percent: The percentage of the progress.
 *   - message: A string containing information to be displayed.
 */
#}
<div id="progress" class="progress">';
  <div class="bar"><div class="filled" style="width: {{ percent }}%"></div></div>
  <div class="percentage">{{ percent }}%</div>
  <div class="message">{{ message }}</div>
</div>
