{#
/**
 * @file
 * Default theme implementation to display a table.
 *
 * Available variables:
 * - header: The table headers. Each element of the array can be accessed
 *   with the following keys:
 *   - header.data: The localized title of the table column.
 *   - header.field: The database field represented in the table column
 *     (required if user is to be able to sort on this column).
 *   - header.sort: A default sort order for this column ("asc" or "desc").
 *   - header.attributes: Any HTML attributes, such as "colspan", to apply
 *     to the column header cell.
 * - rows: The table rows. Every row contains cells that can be accessed with
 *   the following keys:
 *   - row.data: the cells.
 *   - row.attributes: Any HTML attributes, such as "class", to apply to the
 *     table row.
 *   - row.no_striping: a flag indicating that the row should receive no
 *     'even / odd' styling. Defaults to FALSE.
 *     A cell can be either a string or may contain the following keys:
 *     - data: The string to display in the table cell.
 *     - header: Indicates this cell is a header.
 *     - attributes: Any HTML attributes, such as "colspan", to apply to the
 *       table cell.
 * - attributes: An array of HTML attributes to apply to the table tag.
 * - caption: A localized string to use for the <caption> tag.
 * - colgroups: An array of column groups.
 * - sticky: Use a "sticky" table header.
 * - empty: The message to display in an extra row if table does not have any rows.
 *
 * @see template_preprocess
 * @see template_preprocess_table
 *
 * @ingroup themeable
 */
#}
<table class="{{ attributes.class }}" {{ attributes }}>

  {% if caption %}
    <caption>{{ caption }}</caption>
  {% endif %}

  {# Build colgroup #}
  {% for cols in colgroup %}
    {% if count(cols) > 1 %}
      <colgroup {{ colgroup.attributes }}>
      {% for col in cols %}
        <col {{ col.attributes }}/>
      {% endfor %}
      </colgroup>
    {% else %}
      <colgroup {{ colgroup.attributes }}/>
    {% endif %}
  {% endfor %}

  {# Build the table header. #}
  {% if count(header) > 1 %}
    {% if count(header.rows) %}
      <thead><tr>
    {% else %}
      <tr>
    {% endif %}

    {% for cell in header %}
      {{ cell }}
    {% endfor %}

    {% if count(header.rows) %}
      </tr></thead>
    {% else %}
      </tr>
    {% endif %}
  {% endif %}

  {# Build the rows #}
  {% if count(rows) %}
    <tbody>
    {% for row in rows %}
      {% if count(row.cells) %}
        <tr {{ row.attributes }}>
        {% for cell in row.cells %}
          {{ cell }}
        {% endfor %}
        </tr>
      {% endif %}
    {% endfor %}
    </tbody>
  {% endif %}
</table>