{#
/**
 * Returns HTML for an element's children fieldsets as vertical tabs.
 *
 * @param $variables
 *   An associative array containing:
 *   - element: An associative array containing the properties and children of
 *     the fieldset. Properties used: #children.
 *
 * @ingroup themeable
 */
#}
<h2 class="element-invisible">{{ "Vertical tabs"|t }}</h2>
<div class="vertical-tabs-panes">{{ element }}</div>