{#
/**
 * Returns HTML for a user signature.
 *
 * @param $variables
 *   An associative array containing:
 *   - signature: The user's signature.
 *
 * @ingroup themeable
 *
 * @todo We could use a general wrapper instead of this file.
 */
#}
<div class="{{ attributes.class }}" {{ attributes }}>{{ signature }}</div>
