{#
  $variables: An associative array containing:

  account: The user object to format.
  name: The user's name, sanitized.
  extra: Additional text to append to the user's name, sanitized.
  link_path: The path or URL of the user's profile page, home page, or other desired page to link to for more information about the user.
  link_options: An array of options to pass to the l() function's $options parameter if linking the user's name to the user's page.
  attributes: An array of attributes to pass to the drupal_attributes() function if not linking to the user's page.

 @todo: it would be good to have a flag for active links, so that we can set the class
 independently: class="{{ link.active ? 'active' : ''}}"

#}
{% if link_path %}
  {#
  // We have a link path, so we should generate a link using l().
  // Additional classes may be added as array elements like
  // $variables['link_options']['attributes']['class'][] = 'myclass';

  @todo: pass the correct link or add url function
  #}
  {% set link_path = '/' ~ link_path %}
  {# @todo: figure out a way to remove attributes.class and not render it later again with attributes, do something like {{attributes|hide(class)}} #}
  <a href="{{ link_path }}" class="{{ attributes.class }}" {{ attributes }}>{{ name }} {{ extra }}</a>
{% else %}
  {#
  // Modules may have added important attributes so they must be included
  // in the output. Additional classes may be added as array elements like
  // $variables['attributes']['class'][] = 'myclass';
  #}
  <span {{ attributes }} >{{ name }} {{ extra }}</span>
{% endif %}
