{#
/*
 * Returns HTML for an administrative block for display.
 *
 * @param block
 * - contains information about the block
 * @param show
 * - A Boolean whether to output the block. Defaults to FALSE
 * @param title
 * - The block's title.
 * @param content (optional)
 * - Formatted content for the block.
 * @param description (optional)
 * - Description of the block. Only output if 'content' is not set.
 *
 */
#}
<div class="admin-block">
  {% if title != "" %}
    <h3>{{ title }}</h3>
  {% endif %}
  {% if content != "" %}
    <div class="body">{{ content }}</div>
  {% else %}
    <div class="description">{{ description }}</div>
  {% endif %}
</div>