{#  
/**
 * @file
 * Returns HTML for an administrative page.
 *
 * Available variables:
 * - system_compact_link: Themed link to toggle compact view.
 * - containers: Containers with admin blocks.
 *
 * @ingroup themeable
 */
#}
<div class="admin clearfix">
  {{ system_compact_link }}
  {% for container in containers %}
    <div class="{{ container.class }} clearfix">
      {% for block in container.blocks %}
        {{ block }}
      {% endfor %}
    </div>
  {% endfor %}
</div>