{#
/**
 * @file
 * Default theme implementation to display a single Drupal page while offline.
 *
 * All the available variables are mirrored in html.tpl.php and page.tpl.php.
 * Some may be blank but they are provided for consistency.
 *
 * @see template_preprocess()
 * @see template_preprocess_maintenance_page()
 */
#}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{ language.langcode }}" lang="{{ language.langcode }}" dir="{{ language.dir }}">

<head>
  <title>{{ head_title }}</title>
  {{ head }}
  {{ styles }}
  {{ scripts }}
</head>
<body class="{{ attributes.class }}">
  <div id="page">
    <div id="header">
      <div id="logo-title">

        {% if logo is none %}
          <a href="{{ base_path }}" title="{{ 'Home'|t }}" rel="home" id="logo">
            <img src="{{ logo }}" alt="{{ 'Home'|t }}" />
          </a>
        {% endif %}

        <div id="name-and-slogan">
          {% if site_name %}
            <h1 id="site-name">
              <a href="{{ base_path }}" title="{{ 'Home'|t }}" rel="home"><span>{{ site_name }}</span></a>
            </h1>
          {% endif %}

      {% if site_slogan %}
            <div id="site-slogan">{{ site_slogan }}</div>
      {% endif %}
        </div> <!-- /name-and-slogan -->
      </div> <!-- /logo-title -->

      {% if header %}
        <div id="header-region">
          {{ header }}
        </div>
      {% endif %}

    </div> <!-- /header -->

    <div id="container" class="clearfix">

      {% if sidebar_first %}
        <div id="sidebar-first" class="column sidebar">
          {{ sidebar_first }}
        </div> <!-- /sidebar-first -->
      {% endif %}

      <div id="main" class="column"><div id="main-squeeze">

        <div id="content">
          {% if title %}<h1 class="title" id="page-title">{{ title }}</h1>{% endif %}
          {% if messages %}{{ messages }}{% endif %}
          <div id="content-content" class="clearfix">
            {{ content }}
          </div> <!-- /content-content -->
        </div> <!-- /content -->

      </div></div> <!-- /main-squeeze /main -->

      {% if sideboar_second %}
        <div id="sidebar-second" class="column sidebar">
          {{ sidebar_second }}
        </div> <!-- /sidebar-second -->
      {% endif %}

    </div> <!-- /container -->

    <div id="footer-wrapper">
      <div id="footer">
        {% if footer %}{{ footer }}{% endif %}
      </div> <!-- /footer -->
    </div> <!-- /footer-wrapper -->

  </div> <!-- /page -->

</body>
</html>
