{#
/**
 * @file
 * Default theme implementation to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: Array of attributes
 * - attributes.class: String of classes that can be used to style contextually through CSS.
 *
 * @see template_preprocess()
 * @see template_preprocess_region()
 * @see template_process()
 */
#}
{% if content %}
<div class="{{ attributes.class }}" {{ attributes }}>
  {{ content }}
</div>
{% endif %}
