{#
/**
 * Returns HTML for the status report.
 *
 * @param requirements
 *   - requirements contains multiple requirement instances. each requirement has .title, .value and .description
 * @param severity
 *   - severity of error. contains .title and .class
 *
 */
#}

<table class="system-status-report">
  <tbody>
  {% for requirement in requirements %}
  {# Output table rows. #}

    <tr class="{{ severity.class }}">';
      <td class="status-icon">
        <div title="{{ severity.title }}">
          <span class="element-invisible">{{ severity.title }}</span>
        </div>
      </td>
      <td class="status-title">{{ requirement.title }}</td>
      <td class="status-value">{{ requirement.value }}

      {% if requirement.description != "" %}
        <div class="description">{{ requirement.description }}</div>
      {% endif %}
      </td>
    </tr>

  {% endfor %}

  </tbody>
</table>
